{
  "root": true,
  "ignorePatterns": [
    "node_modules/**",
    "dist/**",
    "build/**",
    "frontend/**",
    "test-results/**"
  ],
  "env": {
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "eslint:recommended"
  ],
  "rules": {
    "camelcase": "off",
    "import/export": "off",
    "prefer-rest-params": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off"
  }
}
